.background-container {
    background-image: url('src/assets/download.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgba(197, 250, 197, 0.8); /* Light green background */
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0d0e0d; /* Dark green text color */
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    color: #222b23; /* Dark green text color */
}

.form-container input[type="number"],
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #eef1ee; /* Dark green border for input fields */
    border-radius: 5px;
}

.form-container button[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #7cca88; /* Dark green button background */
    color: #111111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover{
    background-color:#e4f7e7;
}

.error-message {
    color: red;
    margin-top: 10px;
}
